//src/scss/back-to-top.scss
// Кнопка "Наверх"

@use 'variables' as *; // Импортируем переменные в текущий файл

// =================== Back To Top ===================
.back-to-top {
	position: fixed;
	right: 20px;
	bottom: 20px;
	display: inline-block;
	background: $secondary;
	color: $whiteColor;
	padding: 0.8rem 1.8rem;
	border-radius: 6px;
	text-decoration: none;
	margin-top: 1.5rem;
	transition: all 0.3s ease;
	font-weight: 500;

	&:hover {
		background: $primary;
		transform: translateY(-3px);
	}
}