//code.scss
@use 'variables' as *; // Импортируем переменные в текущий файл

// Подсветка синтаксиса (пример для highlight.js)
.hljs {
  background: $whiteColor !important;
}

// Стили для inline и block code
code {
  font-size: 0.9em;
  background-color: $exampleColor;
  padding: 2px 6px;
  border-radius: 4px;
  font-family: $fontFamilyCode;
}

pre {
  border-radius: 7px;
  overflow-x: auto;
  box-shadow: 0 4px 20px #a1a1aaab;
  padding: 1rem 1.25rem;
  background-color: #f5f8fa;
  margin: 1rem 0;
  font-size: 0.95rem;
  line-height: 1.5;
}

// Вложенный code внутри pre
pre code {
  font-size: 1rem;
  line-height: 1.5;
  background: none;
  padding: 0;
  border-radius: 0;
}

// Блок с кнопкой копирования
.code-block {
  position: relative;
  margin: 1rem 0;
}

.copy-btn {
  font-size: 0.75rem;
  margin: 0;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: $middleBlueColor;
  color: $whiteColor;
  border: none;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

.copy-btn:hover {
  background: $buttonColorHover;
}