//src/scss/demo.scss
@use 'variables' as *; // Импортируем переменные в текущий файл

.interactive-demo {
  margin-bottom: 2rem;
  background: #f8f9fa;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  flex: 1;
}

.demo-container {
  display: flex;
  gap: 1rem;
  margin: 1.5rem 0;
}


.demo-result {
  padding: 1rem;
  background: #e3f2fd;
  border-radius: 4px;
}

.interactive-demo {

  & button {
    background-color: $buttonColor;
    color: $whiteColor;
    border: none;
    cursor: pointer;
    transition: $transition;
    padding: 10px 15px;
    margin: 15px 0;
    border-radius: $formInputBorderRadius;
    font-size: $formInputFontSize;
    justify-self: start;

    &:hover {
      background-color: $buttonColorHover;
    }
  }

  & h2 {
    font-size: 1.5rem;
    border-bottom: none;
    margin: 0 0 1rem 0;
    padding-bottom: 0;

  }

  & ul {
    list-style: none;
    padding-left: 1rem;
    margin: 1rem 0;
  }

  & li {
    position: relative;
    padding-left: 1.3rem;
  }

  & li:not(:last-child) {
    margin-bottom: 0.8rem;
  }

  & li::before {
    content: "•";
    position: absolute;
    left: 0;
    color: $secondary;
    font-size: 1.5rem;
    top: -8px;
  }

  & a {
    color: $linkColor;
    text-decoration: none;
    transition: $transition;

    &:hover {
      color: $linkColorHover;
      text-decoration: underline;
    }
  }

  & .box-radio {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }

  & .item-radio {
    display: flex;
    align-items: center;
  }

  & table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    background-color: #fff;
  }

  & th,
  & td {
    border: 1px solid $formBorderColor;
    padding: 10px;
    text-align: left;
  }

  input {
    padding: 8px;
    border: 1px solid $formBorderColor;
    border-radius: $borderRadius;
    font-size: 1rem;
    min-width: 150px;
    box-sizing: border-box;

  }
}