//src/scss/lists.scss

@use 'variables' as *; // Импортируем переменные в текущий файл

// =================== List Styles ===================

// =================== список с маркерами ===================
.list-ul {
  list-style: none;
  margin: 1rem 0;
  padding-left: 1rem;

  & li {
    position: relative;
    padding-left: 1.3rem;
  }

  & li:not(:last-child) {
    margin-bottom: 0.8rem;
  }

  & li::before {
    content: "•";
    position: absolute;
    left: 0;
    top: -0.5rem;
    color: $secondary;
    font-size: 1.5rem;
  }

  & ul {
    margin-top: 0.625rem;
    padding-left: 1.25rem;
  }

  & li li::before {
    content: "-";
  }
}

// =================== список с нумерацией ===================
.list-ol {
  list-style: none;
  counter-reset: item;
  margin: 1rem 0;
  padding: 0;

  & li {
    position: relative;
    padding-left: 1.25rem;
    margin-bottom: 0.5rem;
    counter-increment: item;
  }

  & li::before {
    content: counter(item) ".";
    position: absolute;
    left: 0;
    top: 0.8125rem;
    transform: translateY(-50%);
    color: $darkColor;
    font-weight: bold;
  }

  & ol {
    margin-top: 0.625rem;
    padding-left: 1.25rem;
  }
}

// =================== список с иконками ===================
.list-icon {
  list-style: none;
  margin: 1rem 0;
  padding: 0;

  & li {
    position: relative;
    padding-left: 1.25rem;
    margin-bottom: 0.5rem;
  }

  & ul {
    margin-top: 0.625rem;
    padding-left: 1.25rem;
  }
}