//src/styles/main.scss
@use 'variables' as *; // Импортируем переменные в текущий файл

// =================== Layout ===================
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #9e3c3c;

  >main {
    flex: 1 1 auto;
  }
}

.container {
  margin: 0 auto;
  max-width: $maxWidthContainer;
  padding: 0 $containerPadding;
}

body {
  font-family: $fontFamily;
  line-height: 1.6;
  color: $darkColor;
  margin: 0 auto;
  background: $backgroundColor;
}

// =================== Grid ===================
.grid-column-50,
.grid-column-100 {
  display: grid;
  border-radius: $borderRadius;
  background-color: $backgroundColorDark;
  box-shadow: $shadowSmall;
  padding: 20px;
  align-items: center;
  margin-bottom: 20px;

  @media (max-width: $media-md) {
    gap: 30px;
  }
}

.grid-column-50 {
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;

  @media (max-width: $media-md) {
    grid-template-columns: 1fr;
  }
}

.grid-column-100 {
  grid-template-columns: 1fr;
  gap: 30px;
}

// =================== Utility ===================
.overflow {
  overflow-x: auto;
}

// =================== Sections ===================
.section {
  padding: 30px 0;

  &:first-of-type {
    padding: 80px 0 30px 0;
  }

  &:last-child {
    padding-bottom: 50px;
  }

  & .container {
    background: $whiteColor;
    border-radius: $borderRadiusLarge;
    padding: 1rem;
    box-shadow: $shadow;
  }
}

.section-main {
  padding: 80px 0 30px 0;

}

// =================== Notes, Warnings, Summary ===================
.note-block {
  margin-bottom: 20px;
}

.note {
  background: $lightBlueColor;
  border-left: 3px solid $middleBlueColor;
  padding: 1.5rem;
  margin: 1.8rem 0;
  border-radius: 7px;
  font-family: "Raleway", sans-serif;

  & strong {
    color: $greenColor;
  }

  .note code {
    background-color: $whiteColor;
  }
}

.note--info {
  background: $lightYellowColor;
  border-left: 3px solid $yellowColor;

  & strong {
    color: $redColor;
  }
}

.warning {
  background-color: $lightRedColor;
  border-left: 4px solid $redColor;
  padding: 15px;
  margin: 20px 0;
  border-radius: 0 4px 4px 0;
}

.summary {
  background-color: $lightBlueColor;
  border-left: 4px solid $blueColor;
  padding: 20px;
  margin: 25px 0;
  border-radius: 0 8px 8px 0;
}

// =================== Layout (Sidebar + Content) ===================
.layout {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}

.layout aside {
  flex: 0 0 200px;
}

.layout .content {
  flex: 1;
  min-width: 0;
}

// =================== Flex ===================
.flex-container {
  display: flex;
  padding: 20px;
  border: 1px solid $formBorderColor;
  margin-bottom: 10px;
  background-color: $whiteColor;
}

.flex-item {
  padding: 10px;
  border: 1px solid $darkColor;
  background: $exampleColor;
  text-align: center;
  border-radius: 6px;
  font-size: 1rem;
  width: 100%;
}

.flex-column {
  flex-direction: column;
}

// =================== Grid ===================
.grid-container {
  display: grid;
  gap: 10px;
  padding: 20px;
  border: 1px solid $formBorderColor;
  margin: 20px 0;
  background-color: $whiteColor;
}

.grid-item {
  padding: 10px;
  border: 1px solid $darkColor;
  background: $exampleColor;
  text-align: center;
}

// =================== Примеры ===================
.example {
  padding: 20px;
  border-radius: 8px;
  background-color: $whiteColor;
  box-shadow: $shadowSmall;
  height: 100%;
  margin-bottom: 20px;
}