<header>
  <div class="container">
    <div class="menu-toggle" id="mobile-menu">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>

    <div class="header-menu">
      <!-- Меню -->
      <nav class="nav">
        <ul class="nav-list">
          <!-- Главная -->
          <li class="nav-item">
            <a class="nav-link" href="/index.html">Главная</a>
          </li>

          <!-- html -->
          <li class="nav-item">
            <a class="nav-link submenu-toggle" href="/#">HTML</a>

            <div class="subnav-list subnav-two-columns">
              <div class="subnav-column">
                <!-- Основы HTML -->
                <div class="subnav-group">
                  <h3 class="subnav-heading">Основы HTML</h3>
                  <ul>
                    <li><a class="subnav-link" href="/about-html/start-html.html">Введение в HTML</a></li>
                    <li><a class="subnav-link" href="/about-html/tags-html.html">Теги HTML</a></li>
                    <li><a class="subnav-link" href="/about-html/basic-tags.html">Теги базовые</a></li>
                    <li><a class="subnav-link" href="/about-html/formatting-tags.html">Теги форматирования</a></li>
                    <li><a class="subnav-link" href="/about-html/style-tags.html">Теги стилей</a></li>
                    <li><a class="subnav-link" href="/about-html/attributes-html.html">Атрибуты</a></li>
                    <li><a class="subnav-link" href="/about-html/simbol-html.html">Символы и сущности</a></li>
                  </ul>
                </div>

                <!-- Семантика и структура -->
                <div class="subnav-group">
                  <h3 class="subnav-heading">Семантика и структура</h3>
                  <ul>
                    <li><a class="subnav-link" href="/about-html/semantic-tags-html.html">Семантические теги</a></li>
                    <li><a class="subnav-link" href="/about-html/nosemantic-tags.html">Теги &lt;div&gt; и &lt;span&gt;</a></li>
                    <li><a class="subnav-link" href="/about-html/meta-tags.html">Метаданные и SEO</a></li>
                  </ul>
                </div>

                <!-- Формы и взаимодействие -->
                <div class="subnav-group">
                  <h3 class="subnav-heading">Формы и ввод данных</h3>
                  <ul>
                    <li><a class="subnav-link" href="/about-html/form-html.html">Формы</a></li>
                    <li><a class="subnav-link" href="/about-html/input-html.html">Элементы ввода</a></li>
                    <li><a class="subnav-link" href="/about-html/validation-html.html">Валидация форм</a></li>
                  </ul>
                </div>

                <!-- Списки и таблицы -->
                <div class="subnav-group">
                  <h3 class="subnav-heading">Списки и таблицы</h3>
                  <ul>
                    <li><a class="subnav-link" href="/about-html/list-html.html">Списки</a></li>
                    <li><a class="subnav-link" href="/about-html/table-html.html">Таблицы</a></li>
                  </ul>
                </div>
              </div>

              <div class="subnav-column">
                <!-- Мультимедиа и графика -->
                <div class="subnav-group">
                  <h3 class="subnav-heading">Мультимедиа и графика</h3>
                  <ul>
                    <li><a class="subnav-link" href="/about-html/media-html.html">Мультимедиа</a></li>
                    <li><a class="subnav-link" href="/about-html/image-html.html">Изображения</a></li>
                    <li><a class="subnav-link" href="/about-html/svg-html.html">SVG и Canvas</a></li>
                  </ul>
                </div>

                <!-- Навигация и ссылки -->
                <div class="subnav-group">
                  <h3 class="subnav-heading">Навигация и ссылки</h3>
                  <ul>
                    <li><a class="subnav-link" href="/about-html/link-html.html">Ссылки</a></li>
                    <li><a class="subnav-link" href="/about-html/menu-html.html">Меню и навигация</a></li>
                    <li><a class="subnav-link" href="/about-html/anchor-html.html">Якоря и переходы</a></li>
                  </ul>
                </div>

                <!-- Форматирование текста -->
                <div class="subnav-group">
                  <h3 class="subnav-heading">Форматирование текста</h3>
                  <ul>
                    <li><a class="subnav-link" href="/about-html/text-html.html">Текст и заголовки</a></li>
                    <li><a class="subnav-link" href="/about-html/formatting-html.html">Теги форматирования</a></li>
                  </ul>
                </div>

                <!-- Примеры и шаблоны -->
                <div class="subnav-group">
                  <h3 class="subnav-heading">Примеры и шаблоны</h3>
                  <ul>
                    <li><a class="subnav-link" href="/about-html/lending-html.html">Landing</a></li>
                    <li><a class="subnav-link" href="/about-html/template-html.html">Шаблоны HTML</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>

          <!-- css -->
          <li class="nav-item">
            <a class="nav-link submenu-toggle" href="/#">CSS</a>
            <div class="subnav-list subnav-two-columns">
              <div class="subnav-column">
                <div class="subnav-group">
                  <h3 class="subnav-heading">Основы CSS</h3>
                  <ul>
                    <li><a class="subnav-link" href="/about-css/start-css.html">Основы CSS</a></li>
                    <li><a class="subnav-link" href="/about-css/cascading-css.html">Каскадность</a></li>
                    <li><a class="subnav-link" href="/about-css/selector-css.html">Селекторы</a></li>
                    <li><a class="subnav-link" href="/about-css/pseudo-classes.html">Псевдоклассы</a></li>
                    <li><a class="subnav-link" href="/about-css/pseudo-elements.html">Псевдоэлементы</a></li>
                    <li><a class="subnav-link" href="/about-css/colors.html">Цвета</a></li>
                    <li><a class="subnav-link" href="/about-css/text-align.html">Выравнивание текста</a></li>
                  </ul>
                </div>

                <div class="subnav-group">
                  <h3 class="subnav-heading">Работа со шрифтом</h3>
                  <ul>
                    <li><a class="subnav-link" href="/about-css/font-size.html">Размер шрифта</a></li>
                    <li><a class="subnav-link" href="/about-css/font-style.html">Шрифты</a></li>
                  </ul>
                </div>

                <div class="subnav-group">
                  <h3 class="subnav-heading">Размеры и единицы</h3>
                  <ul>
                    <li><a class="subnav-link" href="/about-css/units-css.html">Единицы измерения</a></li>
                    <li><a class="subnav-link" href="/about-css/dimensions.html">Размеры</a></li>
                    <li><a class="subnav-link" href="/about-css/border.html">Border</a></li>
                    <li><a class="subnav-link" href="/about-css/spacing.html">Отступы</a></li>
                    <li><a class="subnav-link" href="/about-css/overflow.html">Overflow</a></li>
                  </ul>
                </div>
              </div>

              <div class="subnav-column">
                <div class="subnav-group">
                  <h3 class="subnav-heading">Макеты и сетки</h3>
                  <ul>
                    <li><a class="subnav-link" href="/about-css/layout.html">Макеты</a></li>
                    <li><a class="subnav-link" href="/about-css/flexbox.html">Flexbox</a></li>
                    <li><a class="subnav-link" href="/about-css/grid.html">Grid</a></li>
                    <li><a class="subnav-link" href="/about-css/flex-grid.html">Flex-grid</a></li>
                    <li><a class="subnav-link" href="/about-css/position.html">Position</a></li>
                  </ul>
                </div>

                <div class="subnav-group">
                  <h3 class="subnav-heading">Фон, медиа и эффекты</h3>
                  <ul>
                    <li><a class="subnav-link" href="/about-css/background.html">Background</a></li>
                    <li><a class="subnav-link" href="/about-css/media.html">Media</a></li>
                    <li><a class="subnav-link" href="/about-css/animation.html">Animation</a></li>
                    <li><a class="subnav-link" href="/about-css/movie-site.html">Создание сайта фильмов</a></li>
                  </ul>
                </div>

                <div class="subnav-group">
                  <h3 class="subnav-heading">Элементы и таблицы</h3>
                  <ul>
                    <li><a class="subnav-link" href="/about-css/button.html">Кнопки</a></li>
                    <li><a class="subnav-link" href="/about-css/table-css.html">Таблицы</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>

          <!-- scss -->
          <li class="nav-item">
            <a class="nav-link submenu-toggle" href="/#">SCSS</a>
            <ul class="subnav-list">
              <li><a class="subnav-link" href="/about-scss/start-scss.html">Основы SCSS</a></li>
              <li><a class="subnav-link" href="/about-scss/variables-scss.html">Переменные</a></li>
            </ul>
          </li>

          <!-- Теория JS -->
          <li class="nav-item">
            <a class="nav-link submenu-toggle" href="/#">Теория JS</a>
            <div class="subnav-list subnav-three-columns">

              <!-- Теория JS 1 колонка -->
              <div class="subnav-column">

                <!-- Основы JavaScript -->
                <div class="subnav-group">
                  <h3 class="subnav-heading">Основы JavaScript</h3>
                  <ul>
                    <li><a class="subnav-link" href="/about-js-teoria/basics-introduction.html">Введение в JavaScript</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/basics-data-types.html">Типы данных</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/basics-variables.html">Переменные</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/basics-type-conversion.html">Преобразование типов</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/basics-console.html">Console (для отладки)</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/basics-user-interaction.html">Взаимодействие с пользователем</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/basics-strict-mode.html">Strict mode</a></li>
                  </ul>
                </div>

                <!-- Операторы -->
                <div class="subnav-group">
                  <h3 class="subnav-heading">Операторы</h3>
                  <ul>
                    <li><a class="subnav-link" href="/about-js-teoria/operators-basic.html">Базовые операторы</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/operators-math.html">Математические операторы</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/operators-comparison.html">Операторы сравнения</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/operators-logical.html">Логические операторы</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/operators-nullish.html">Нулевое слияние и присвоение</a></li>
                  </ul>
                </div>

                <!-- Управление потоком -->
                <div class="subnav-group">
                  <h3 class="subnav-heading">Управление потоком</h3>
                  <ul>
                    <li><a class="subnav-link" href="/about-js-teoria/control-conditional-statements.html">Условные операторы</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/control-switch-statement.html">Switch оператор</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/control-loops.html">Циклы</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/control-break-continue.html">Break и Continue</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/control-try-catch.html">Try Catch Finally</a></li>
                  </ul>
                </div>



              </div>

              <!-- Теория JS 2 колонка -->
              <div class="subnav-column">

                <!-- Функции -->
                <div class="subnav-group">
                  <h3 class="subnav-heading">Функции</h3>
                  <ul>
                    <li><a class="subnav-link" href="/about-js-teoria/functions-basics.html">Основы функций</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/functions-parameters-return.html">Параметры и return</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/functions-scope-hoisting.html">Scope и Hoisting</a></li>
                    <li> <a class="subnav-link" href="/about-js-teoria/functions-expressions.html">Функции-выражения</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/functions-conditional.html">Условия внутри функций</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/functions-cycles.html">Циклы внутри функций</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/functions-arrow.html">Стрелочные функции</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/functions-closures.html">Замыкания</a></li>
                    <li> <a class="subnav-link" href="/about-js-teoria/functions-hof.html">Высшие функции (map/filter/reduce)</a> </li>
                  </ul>
                </div>

                <!-- Данные -->
                <div class="subnav-group">
                  <h3 class="subnav-heading">Данные</h3>
                  <ul>
                    <li><a class="subnav-link" href="/about-js-teoria/data-arrays.html">Массивы</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/data-array-methods.html">📚 Методы массивов</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/data-array-methods-mutating.html">⚠️ Мутирующие методы</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/data-array-methods-non-mutating.html">✅ Немутирующие методы</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/data-array-methods-iterating.html">🔁 Итерационные методы</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/data-objects.html">Объекты</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/data-object-methods-this.html">Методы и this</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/data-json.html">JSON</a></li>
                  </ul>
                </div>

              </div>

              <!-- Теория JS 3 колонка -->
              <div class="subnav-column">
                <!-- Асинхронность -->
                <div class="subnav-group">
                  <h3 class="subnav-heading">Асинхронность</h3>
                  <ul>
                    <li><a class="subnav-link" href="/about-js-teoria/async-await.html">Async/Await</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/async-api.html">API</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/async-modules-es.html">ES Modules</a></li>
                  </ul>
                </div>


                <!-- DOM -->
                <div class="subnav-group">
                  <h3 class="subnav-heading">DOM</h3>

                  <ul>
                    <li><a class="subnav-link" href="/about-js-teoria/dom-basics.html">Основы DOM</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/dom-selection.html">Выбор элементов</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/dom-manipulation.html">Манипуляции DOM</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/dom-events.html">События</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/dom-timers.html">Таймеры</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/dom-classlist.html">classList</a></li>
                  </ul>
                </div>
              </div>


            </div>
          </li>

          <!-- Практика JS -->
          <li class="nav-item">
            <a class="nav-link submenu-toggle" href="/#">Практика JS</a>
            <ul class="subnav-list">
              <li><a class="subnav-link" href="/about-js-praktika/data-types.html">Типы данных</a></li>
              <li><a class="subnav-link" href="/about-js-praktika/conditional.html">Условия</a></li>
              <li><a class="subnav-link" href="/about-js-praktika/operators.html">Операторы</a></li>
              <li><a class="subnav-link" href="/about-js-praktika/functions-in-javascript.html">Функции</a></li>
              <li><a class="subnav-link" href="/about-js-praktika/praktika-arrow-functions.html">Arrow functions</a></li>
              <li><a class="subnav-link" href="/about-js-praktika/closures.html">Замыкания</a></li>
              <li><a class="subnav-link" href="/about-js-praktika/objects.html">Объекты</a></li>
              <li><a class="subnav-link" href="/about-js-praktika/dom.html">DOM</a></li>
              <li><a class="subnav-link" href="/about-js-praktika/execution-context.html">Контекст выполнения</a></li>
              <li><a class="subnav-link" href="/about-js-praktika/example.html">Примеры</a></li>
              <li><a class="subnav-link" href="/about-js-praktika/to-do-list.html">To-Do List</a></li>
              <li><a class="subnav-link" href="/about-js-praktika/random-user-from-api.html">Random User API</a></li>
              <li><a class="subnav-link" href="/about-js-praktika/array.html">Массивы</a></li>
              <li><a class="subnav-link" href="/about-js-praktika/guess-the-number.html">Угадай число</a></li>
            </ul>
          </li>

          <!-- Дизайн -->
          <li class="nav-item">
            <a class="nav-link submenu-toggle" href="/#">Дизайн</a>
            <ul class="subnav-list">
              <li><a class="subnav-link" href="/about-design/design-basic.html">Основы дизайна</a></li>
              <li><a class="subnav-link" href="/about-design/bazovie-printsipi-dizaina.html">Принципы дизайна</a></li>
              <li><a class="subnav-link" href="/about-design/design-color.html">Цвет</a></li>
              <li><a class="subnav-link" href="/about-design/typography.html">Типографика</a></li>
              <li><a class="subnav-link" href="/about-design/font-character.html">Шрифт</a></li>
              <li><a class="subnav-link" href="/about-design/stili-v-graficheskom-dizayne.html">Стили в дизайне</a></li>
              <li><a class="subnav-link" href="/about-design/rabota-s-grafikoy.html">Работа с графикой</a></li>
              <li><a class="subnav-link" href="/about-design/prakticheskie-chek-listy-instrumenty.html">Чек-листы и инструменты</a></li>
              <li><a class="subnav-link" href="/about-design/bonusal-materialy.html">Бонусные материалы</a></li>
            </ul>
          </li>

          <!-- vscode -->
          <li class="nav-item">
            <a class="nav-link" href="/vscode.html">VS Code</a>
          </li>

          <!-- Vue js -->
          <li class="nav-item">
            <a class="nav-link submenu-toggle" href="/#">Vue.js</a>
            <div class="subnav-list subnav-three-columns">
              <div class="subnav-column">
                <div class="subnav-group">
                  <h3 class="subnav-heading">Основы Vue</h3>
                  <ul>
                    <li><a class="subnav-link" href="/about-vue/vue-installation.html">Установка</a></li>
                    <li><a class="subnav-link" href="/about-vue/vue-data.html">Данные и реактивность</a></li>
                    <li><a class="subnav-link" href="/about-vue/vue-templates-directives.html">Шаблоны и директивы</a></li>
                    <li><a class="subnav-link" href="/about-vue/vue-events.html">События</a></li>
                    <li><a class="subnav-link" href="/about-vue/vue-methods.html">Методы</a></li>
                    <li><a class="subnav-link" href="/about-vue/vue-cycles-conditions.html">Циклы и условия</a></li>
                    <li><a class="subnav-link" href="/about-vue/vue-v-model.html">v-model</a></li>
                  </ul>
                </div>
                <div class="subnav-group">
                  <h3 class="subnav-heading">Компоненты</h3>
                  <ul>
                    <li><a class="subnav-link" href="/about-vue/components-vue-intro.html">Введение</a></li>
                    <li><a class="subnav-link" href="/about-vue/components-vue-props.html">Props</a></li>
                    <li><a class="subnav-link" href="/about-vue/components-vue-emits.html">Emits</a></li>
                    <li><a class="subnav-link" href="/about-vue/components-vue-slots.html">Slots</a></li>
                    <li><a class="subnav-link" href="/about-vue/components-vue-structure.html">Структура</a></li>
                    <li><a class="subnav-link" href="/about-vue/components-vue-reactivity.html">Реактивность</a></li>
                    <li><a class="subnav-link" href="/about-vue/components-vue-scoped.html">Scoped стили</a></li>
                    <li><a class="subnav-link" href="/about-vue/components-vue-dynamic-components.html">Динамические</a></li>
                  </ul>
                </div>
              </div>
              <div class="subnav-column">
                <div class="subnav-group">
                  <h3 class="subnav-heading">Router</h3>
                  <ul>
                    <li><a class="subnav-link" href="/about-vue/router-intro.html">Введение в Router</a></li>
                    <li><a class="subnav-link" href="/about-vue/router-dynamic.html">Динамические маршруты</a></li>
                    <li><a class="subnav-link" href="/about-vue/router-nested-routes.html">Вложенные маршруты</a></li>
                    <li><a class="subnav-link" href="/about-vue/router-guards.html">Navigation Guards</a></li>
                    <li><a class="subnav-link" href="/about-vue/router-programmatic-navigation.html">Программная навигация</a></li>
                    <li><a class="subnav-link" href="/about-vue/router-errors.html">Обработка ошибок</a></li>
                    <li><a class="subnav-link" href="/about-vue/router-state.html">State</a></li>
                  </ul>
                </div>
                <div class="subnav-group">
                  <h3 class="subnav-heading">Vuex</h3>
                  <ul>
                    <li><a class="subnav-link" href="/about-vue/vuex-intro.html">Введение в Vuex</a></li>
                    <li><a class="subnav-link" href="/about-vue/vuex-state-getters.html">State и Getters</a></li>
                    <li><a class="subnav-link" href="/about-vue/vuex-modules.html">Modules</a></li>
                    <li><a class="subnav-link" href="/about-vue/vuex-reactivity.html">Реактивность Vuex</a></li>
                    <li><a class="subnav-link" href="/about-vue/vuex-helpers.html">Хелперы Vuex</a></li>
                  </ul>
                </div>
              </div>
              <div class="subnav-column">
                <div class="subnav-group">
                  <h3 class="subnav-heading">API</h3>
                  <ul>
                    <li><a class="subnav-link" href="/about-vue/api-intro.html">Введение в API</a></li>
                    <li><a class="subnav-link" href="/about-vue/api-fetch.html">Fetch API</a></li>
                    <li><a class="subnav-link" href="/about-vue/api-fetch-vue.html">Fetch во Vue</a></li>
                    <li><a class="subnav-link" href="/about-vue/api-fetch-vuex-store.html">Fetch + Vuex Store</a></li>
                    <li><a class="subnav-link" href="/about-vue/api-json-server.html">JSON Server</a></li>
                    <li><a class="subnav-link" href="/about-vue/api-async-data-handling.html">Асинхронные данные</a></li>
                    <li><a class="subnav-link" href="/about-vue/api-auth-tokens.html">Авторизация токены</a></li>
                  </ul>
                </div>
                <div class="subnav-group">
                  <h3 class="subnav-heading">Шпаргалки и практика</h3>
                  <ul>
                    <li><a class="subnav-link" href="/about-vue/brief-vue-basics.html">Шпаргалка: основы</a></li>
                    <li><a class="subnav-link" href="/about-vue/brief-components-vue.html">Шпаргалка: компоненты</a></li>
                    <li><a class="subnav-link" href="/about-vue/brief-router.html">Шпаргалка: роутер</a></li>
                    <li><a class="subnav-link" href="/about-vue/brief-vuex.html">Шпаргалка: Vuex</a></li>
                    <li><a class="subnav-link" href="/about-vue/brief-api-vue.html">Шпаргалка: API</a></li>
                    <li><a class="subnav-link" href="/about-vue/practice-vue-intro.html">Практика: введение</a></li>
                    <li><a class="subnav-link" href="/about-vue/practice-components-vue.html">Практика: компоненты</a></li>
                    <li><a class="subnav-link" href="/about-vue/practice-shopping-list-vue.html">Практика: список покупок</a></li>
                    <li><a class="subnav-link" href="/about-vue/practice-quotes-day.html">Практика: цитаты дня</a></li>
                    <li><a class="subnav-link" href="/about-vue/practice-portfolio-vue-practice.html">Практика: портфолио</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>

          <!-- React js -->
          <li class="nav-item">
            <a class="nav-link submenu-toggle" href="/#">React</a>
            <div class="subnav-list subnav-three-columns">
              <div class="subnav-column">
                <div class="subnav-group">
                  <h3 class="subnav-heading">Установка и основы</h3>
                  <ul>
                    <li><a class="subnav-link" href="/about-react/react-installation.html">Установка</a></li>
                    <li><a class="subnav-link" href="/about-react/react-setup.html">Настройка</a></li>
                    <li><a class="subnav-link" href="/about-react/react-basics.html">Основы JSX</a></li>
                    <li><a class="subnav-link" href="/about-react/react-basics-all.html">Основы: кратко</a></li>
                    <li><a class="subnav-link" href="/about-react/react-structure.html">Структура</a></li>
                    <li><a class="subnav-link" href="/about-react/react-data-basics.html">Данные</a></li>
                    <li><a class="subnav-link" href="/about-react/react-events-basics.html">События</a></li>
                    <li><a class="subnav-link" href="/about-react/react-methods.html">Методы</a></li>
                    <li><a class="subnav-link" href="/about-react/react-hooks.html">Hooks</a></li>
                  </ul>
                </div>
              </div>
              <div class="subnav-column">
                <div class="subnav-group">
                  <h3 class="subnav-heading">Компоненты</h3>
                  <ul>
                    <li><a class="subnav-link" href="/about-react/react-components.html">Компоненты</a></li>
                    <li><a class="subnav-link" href="/about-react/react-components-all.html">Компоненты: кратко</a></li>
                    <li><a class="subnav-link" href="/about-react/props-page.html">Props</a></li>
                    <li><a class="subnav-link" href="/about-react/react-children.html">Children</a></li>
                    <li><a class="subnav-link" href="/about-react/react-emits.html">Callbacks и Events</a></li>
                    <li><a class="subnav-link" href="/about-react/react-dynamic-components.html">Динамические</a></li>
                    <li><a class="subnav-link" href="/about-react/react-cycles-conditions.html">Циклы и условия</a></li>
                    <li><a class="subnav-link" href="/about-react/react-controlled-inputs.html">Контролируемые инпуты</a></li>
                    <li><a class="subnav-link" href="/about-react/react-forms.html">Формы</a></li>
                  </ul>
                </div>
              </div>
              <div class="subnav-column">
                <div class="subnav-group">
                  <h3 class="subnav-heading">Продвинутый уровень</h3>
                  <ul>
                    <li><a class="subnav-link" href="/about-react/react-context.html">Context</a></li>
                    <li><a class="subnav-link" href="/about-react/react-memo.html">Memo</a></li>
                    <li><a class="subnav-link" href="/about-react/react-useReducer.html">useReducer</a></li>
                    <li><a class="subnav-link" href="/about-react/react-redux.html">Redux</a></li>
                    <li><a class="subnav-link" href="/about-react/react-fetch-api.html">Fetch API</a></li>
                  </ul>
                </div>
                <div class="subnav-group">
                  <h3 class="subnav-heading">Router</h3>
                  <ul>
                    <li><a class="subnav-link" href="/about-react/router-react-intro.html">Введение в Router</a></li>
                    <li><a class="subnav-link" href="/about-react/react-router-dynamic.html">Динамические маршруты</a></li>
                    <li><a class="subnav-link" href="/about-react/react-router-nested.html">Вложенные маршруты</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>

          <!-- Менеджмент -->
          <li class="nav-item">
            <a class="nav-link submenu-toggle" href="/#">Менеджмент</a>
            <div class="subnav-list subnav-three-columns">

              <!-- Менеджмент 1 колонка -->
              <div class="subnav-column">

                <!-- Product Management -->
                <div class="subnav-group">
                  <h3 class="subnav-heading">Управление продуктом</h3>
                  <ul>
                    <li><a class="subnav-link" href="/about-management/product-management.html">Продакт-менеджер</a></li>
                    <li><a class="subnav-link" href="/about-management/product-types.html">Типы цифровых продуктов</a></li>
                    <li><a class="subnav-link" href="/about-management/product-life-cycle.html">Жизненный цикл продукта</a></li>
                    <li><a class="subnav-link" href="/about-management/product-strategy.html">Продуктовая стратегия</a></li>
                    <li><a class="subnav-link" href="/about-management/product-roadmap.html">Продуктовый roadmap</a></li>
                    <li><a class="subnav-link" href="/about-management/product-discovery.html">Product Discovery</a></li>
                    <li><a class="subnav-link" href="/about-management/product-mvp.html">Product MVP</a></li>
                    <li><a class="subnav-link" href="/about-management/product-delivery.html">Product Delivery</a></li>
                    <li><a class="subnav-link" href="/about-management/product-unit-economics.html">Юнит-экономика продукта</a></li>
                  </ul>
                </div>

                <!-- Product Frameworks -->
                <div class="subnav-group">
                  <h3 class="subnav-heading">Product Frameworks</h3>
                  <ul>
                    <li><a class="subnav-link" href="/about-management/frameworks-cjm.html">Product CJM</a></li>
                    <li><a class="subnav-link" href="/about-management/frameworks-jtbd.html">Product JTBD</a></li>
                    <li><a class="subnav-link" href="/about-management/frameworks-market-fit.html">Product Market Fit</a></li>
                    <li><a class="subnav-link" href="/about-management/frameworks-ice-rice.html">Product ICE / RICE</a></li>
                    <li><a class="subnav-link" href="/about-management/frameworks-okr.html">Product OKR</a></li>
                    <li><a class="subnav-link" href="/about-management/frameworks-north-star-metric.html">Product North Star Metric</a></li>
                  </ul>
                </div>

              </div>

              <!-- Менеджмент 2 колонка -->
              <div class="subnav-column">

                <!-- Agile -->
                <div class="subnav-group">
                  <h3 class="subnav-heading">Agile</h3>
                  <ul>
                    <li><a class="subnav-link" href="/about-management/agile.html">Agile</a></li>
                    <li><a class="subnav-link" href="/about-management/agile-scrum.html">Agile Scrum</a></li>
                    <li><a class="subnav-link" href="/about-management/agile-kanban.html">Agile Kanban</a></li>
                    <li><a class="subnav-link" href="/about-management/agile-waterfall.html">Agile Waterfall</a></li>
                    <li><a class="subnav-link" href="/about-management/agile-sprint.html">Agile Sprint</a></li>
                    <li><a class="subnav-link" href="/about-management/agile-backlog.html">Agile Backlog</a></li>
                    <li><a class="subnav-link" href="/about-management/agile-epic-story-task.html">Agile Epic, Story, Task</a></li>
                    <li><a class="subnav-link" href="/about-management/agile-definition-of-done.html">Agile Definition of Done</a></li>
                    <li><a class="subnav-link" href="/about-management/agile-velocity.html">Agile Velocity</a></li>
                  </ul>
                </div>

                <!-- Jira + Confluence -->
                <div class="subnav-group">
                  <h3 class="subnav-heading">Jira + Confluence</h3>
                  <ul>
                    <li><a class="subnav-link" href="/about-management/jira.html">Jira</a></li>
                    <li><a class="subnav-link" href="/about-management/jira-epic.html">Jira Epic</a></li>
                    <li><a class="subnav-link" href="/about-management/jira-story.html">Jira Story</a></li>
                    <li><a class="subnav-link" href="/about-management/jira-task.html">Jira Task</a></li>
                    <li><a class="subnav-link" href="/about-management/jira-backlog.html">Jira Backlog</a></li>
                    <li><a class="subnav-link" href="/about-management/jira-scrum-board.html">Jira Scrum Board</a></li>
                    <li><a class="subnav-link" href="/about-management/jira-kanban-board.html">Jira Kanban Board</a></li>
                    <li><a class="subnav-link" href="/about-management/confluence.html">Confluence</a></li>
                    <li><a class="subnav-link" href="/about-management/confluence-requirements.html">Confluence Requirements</a></li>
                    <li><a class="subnav-link" href="/about-management/confluence-product-page.html">Confluence Product Page</a></li>
                  </ul>
                </div>

              </div>

              <!-- Менеджмент 3 колонка -->
              <div class="subnav-column">

                <!-- Аналитика -->
                <div class="subnav-group">
                  <h3 class="subnav-heading">Analytics</h3>
                  <ul>
                    <li><a class="subnav-link" href="/about-management/analytics-excel.html">Excel</a></li>
                    <li><a class="subnav-link" href="/about-management/analytics-excel-pivot-tables.html">Excel Pivot Tables</a></li>
                    <li><a class="subnav-link" href="/about-management/analytics-excel-vlookup.html">Excel VLOOKUP</a></li>
                    <li><a class="subnav-link" href="/about-management/analytics-excel-xlookup.html">Excel XLOOKUP</a></li>
                    <li><a class="subnav-link" href="/about-management/analytics-excel-power-query.html">Excel Power Query</a></li>
                    <li><a class="subnav-link" href="/about-management/analytics-excel-power-pivot.html">Excel Power Pivot</a></li>
                    <li><a class="subnav-link" href="/about-management/analytics-sql-basics.html">SQL Basics</a></li>
                    <li><a class="subnav-link" href="/about-management/analytics-sql-select-where.html">SQL SELECT and WHERE</a></li>
                    <li><a class="subnav-link" href="/about-management/analytics-sql-group-by-join.html">SQL GROUP BY and JOIN</a></li>
                  </ul>
                </div>

                <!-- BI -->
                <div class="subnav-group">
                  <h3 class="subnav-heading">BI</h3>
                  <ul>
                    <li><a class="subnav-link" href="/about-management/bi.html">BI</a></li>
                    <li><a class="subnav-link" href="/about-management/bi-power-bi.html">BI Power BI</a></li>
                    <li><a class="subnav-link" href="/about-management/bi-tableau.html">BI Tableau</a></li>
                    <li><a class="subnav-link" href="/about-management/bi-datalens.html">BI DataLens</a></li>
                    <li><a class="subnav-link" href="/about-management/bi-dashboard-construction.html">BI Dashboard Construction</a></li>
                  </ul>
                </div>

              </div>

            </div>
          </li>

          <!-- Node.js / Express -->
          <li class="nav-item">
            <a class="nav-link submenu-toggle" href="/#">Node.js / Express</a>

            <div class="subnav-list subnav-three-columns">

              <!-- Колонка 1 -->
              <div class="subnav-column">

                <!-- Модуль 4 -->
                <div class="subnav-group">
                  <h3 class="subnav-heading">Основы Express</h3>
                  <ul>
                    <li><a class="subnav-link" href="/nodejs/node-introduction.html">Введение в Node.js</a></li>
                    <li><a class="subnav-link" href="/nodejs/node-api.html">Взаимодействие и работа с API</a></li>
                    <li><a class="subnav-link" href="/nodejs/node-http-request-response.html">HTTP-запросы и ответы</a></li>
                    <li><a class="subnav-link" href="/nodejs/node-get-post.html">GET и POST</a></li>
                    <li><a class="subnav-link" href="/nodejs/node-express.html">ExpressJS</a></li>
                    <li><a class="subnav-link" href="/nodejs/node-express-routes.html">Запросы и маршруты Express</a></li>
                    <li><a class="subnav-link" href="/nodejs/node-post-put.html">POST и PUT запросы</a></li>
                    <li><a class="subnav-link" href="/nodejs/node-patch-delete.html">PATCH и DELETE запросы</a></li>
                    <li><a class="subnav-link" href="/nodejs/node-express-practice-api.html">📝 Практика по модулю</a></li>
                  </ul>
                </div>


                <!-- Модуль 5 -->
                <div class="subnav-group">
                  <h3 class="subnav-heading">Управление логикой приложения</h3>
                  <ul>
                    <li><a class="subnav-link" href="/nodejs/logical-program-decisions.html">Как программа принимает решения</a></li>
                    <li><a class="subnav-link" href="/nodejs/logical-conditions.html">Ветвления</a></li>
                    <li><a class="subnav-link" href="/nodejs/logical-operators.html">Логические операторы в условия</a></li>
                    <li><a class="subnav-link" href="/nodejs/logical-ternary.html">Тернарный оператор</a></li>
                    <li><a class="subnav-link" href="/nodejs/logical-nested-conditions.html">Вложенные условия</a></li>
                    <li><a class="subnav-link" href="/nodejs/logical-while.html">Цикл while</a></li>
                    <li><a class="subnav-link" href="/nodejs/logical-for.html">Цикл for</a></li>
                    <li><a class="subnav-link" href="/nodejs/logical-break-continue.html">break и continue</a></li>
                    <li><a class="subnav-link" href="/nodejs/logical-nested-loops.html">Вложенные циклы</a></li>
                    <li><a class="subnav-link" href="/nodejs/logical-practice.html">📝 Финальный тест по модулю</a></li>
                  </ul>
                </div>

              </div>


              <!-- Колонка 2 -->
              <div class="subnav-column">


                <!-- Проект -->
                <div class="subnav-group">
                  <h3 class="subnav-heading">Проекты</h3>
                  <ul>
                    <li>
                      <a class="subnav-link" href="/projects/account-system.html">
                        🚀 Система управления аккаунтами пользователя
                      </a>
                    </li>
                  </ul>
                </div>


                <!-- Модуль 6 -->
                <div class="subnav-group">
                  <h3 class="subnav-heading">Модуль 6: Классы и асинхронные шаблоны</h3>
                  <ul>
                    <li><a class="subnav-link" href="/nodejs/sync-async.html">Синхронность и асинхронность</a></li>
                    <li><a class="subnav-link" href="/nodejs/async-await-promise.html">async/await и Promise</a></li>
                    <li><a class="subnav-link" href="/nodejs/classes.html">Использование классов</a></li>
                    <li><a class="subnav-link" href="/nodejs/class-methods.html">Классы с методами</a></li>
                    <li><a class="subnav-link" href="/nodejs/class-extension.html">Расширение классов</a></li>
                    <li><a class="subnav-link" href="/nodejs/subclass-properties.html">Кодирование свойств подклассов</a></li>
                    <li><a class="subnav-link" href="/nodejs/tasks-class.html">🚀 Класс для работы с задачами</a></li>
                  </ul>
                </div>


              </div>


              <!-- Колонка 3 -->
              <div class="subnav-column">


                <!-- Модуль 7 -->
                <div class="subnav-group">
                  <h3 class="subnav-heading">Модуль 7: Работа с базами данных</h3>
                  <ul>
                    <li><a class="subnav-link" href="/sql/filter.html">Выбор и фильтрация данных</a></li>
                    <li><a class="subnav-link" href="/sql/sort.html">Сортировка и сравнение данных</a></li>
                    <li><a class="subnav-link" href="/sql/aliases.html">Псевдонимы и алиасы</a></li>
                    <li><a class="subnav-link" href="/sql/data-manipulation.html">Манипуляции с данными</a></li>
                    <li><a class="subnav-link" href="/sql/create-tables.html">Создание и изменение таблиц</a></li>
                    <li><a class="subnav-link" href="/sql/sqlite.html">Введение в SQLite</a></li>
                    <li><a class="subnav-link" href="/sql/parameterized.html">Параметрические запросы</a></li>
                    <li><a class="subnav-link" href="/sql/transactions.html">Транзакции</a></li>
                    <li><a class="subnav-link" href="/sql/delete-tables.html">Изменение и удаление таблиц</a></li>
                  </ul>
                </div>


                <!-- Модуль 8 -->
                <div class="subnav-group">
                  <h3 class="subnav-heading">Модуль 8: Углублённый SQL</h3>
                  <ul>
                    <li><a class="subnav-link" href="/sql/aggregates.html">Работа с агрегатами</a></li>
                    <li><a class="subnav-link" href="/sql/count-sum.html">COUNT и SUM</a></li>
                    <li><a class="subnav-link" href="/sql/group-filter.html">Группировка и фильтрация данных</a></li>
                    <li><a class="subnav-link" href="/sql/join.html">Введение в JOIN</a></li>
                    <li><a class="subnav-link" href="/sql/right-left-join.html">RIGHT JOIN и LEFT JOIN</a></li>
                    <li><a class="subnav-link" href="/sql/full-outer-join.html">FULL OUTER JOIN</a></li>
                    <li><a class="subnav-link" href="/sql/subqueries.html">Подзапросы</a></li>
                    <li><a class="subnav-link" href="/sql/practice.html">📝 Финальный тест по модулю</a></li>
                  </ul>
                </div>


              </div>

            </div>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>